*{
    box-sizing: border-box;
    margin: 0;

}
@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: vintage;
    src: url(./fonts/Bittermilk.ttf);
}
@font-face{
    font-family: rubik;
    src: url('./fonts/Rubik-VariableFont_wght.ttf');
}
$txtorange: rgb(255, 105, 59);
$background: rgb(1, 0, 8);
body{
    background-color: $background;
    overflow-x: hidden;
}
.notvisible{
    opacity: 0;
}
.visible{
    opacity:1;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 1rem;
    height: 80px;
    overflow: hidden;
}
.logo{
    color: $txtorange;
    font-family: vintage;
    font-size: 1.5rem;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.363);
}
.menu{
 list-style:none;
 display: flex;
 justify-content:space-between; 
}
.menu{
    li:hover{
        border-bottom: 3px $txtorange solid;
        
    }
}
.menu{
    li{
        a:hover{
            color: $txtorange;
            transition: all 400ms ease;
        }
    }
}
.menu{
    li{
        a{
            text-decoration: none;
            color: white;
            font-family: roboto;
        }
    }
}
.menu{
    li{
        margin: 0 30px;
        transition: ease all 300ms;
    }
}
.bars{
    display: none;
}
.bar.active:nth-child(1){
    transform: rotate(45deg)translateY(5px);
    transition: all ease-in-out 1s;
}
.bar.active:nth-child(2){
    display: none;
}
.bar.active:nth-child(3){
    transform: rotate(-45deg)translateY(-5px);
    transition: all ease-in-out 1s;
}
.container.landing{
    width: 85%;
    height: 60vh;
    margin: 150px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.landingTxt{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.far.fa-arrow-alt-circle-left,.far.fa-arrow-alt-circle-right{
    display: none;
}
.landingTxt{
    span{
        margin: 0 50px;
        font-size: 1rem;
        font-family: roboto;
        text-align: center;
    }
}

.landTxt1{
    color: white;
    font-size: 3rem;
    font-family: rubik;
    text-align: center;
}
.landTxt2{
    color: white;
    font-size: 5rem;
    font-family: rubik;
    text-align: center;
}
.landDescrip{
    margin-top: 40px;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.landingImg{
    img{
        height: auto;
        max-width: 100%;
       position: absolute;
    }
}
.gradient{
    
        max-width: 100%;
        height: auto;
        top: 19%;
        z-index: -3;
        position: absolute;
        animation-name: shine;
        animation-timing-function: ease;
        animation-duration: 6s;
        animation-fill-mode: forwards;
    
}
.landingImg{
    background:radial-gradient(rgba(255, 255, 255, 0.027),rgba(0, 0, 0, 0));

}

.landingBtn{
    color: white;
    background-color: $txtorange;
    text-align: center;
    height: 25px;
    padding: 20px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 50px;
    overflow: hidden;
    border: 2px solid $txtorange;
    transition: all ease 500ms;
    cursor: pointer;
}
.landingBtn:hover{
    background: transparent;
    
}
.container.find{
    display: flex;
    width: 85%;
    margin: 0 auto;
    color: white;
    height: 90vh;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: all 1s ease;
}
.findDescrip{
margin-bottom: 50px;
}
.findDescrip{
    h1{
        font-family: rubik;
        font-size: 2.5rem;
        text-align: center;
    }
}
.findDescrip{
    p{
        width: 52%;
        margin: 50px auto;
        font-family: roboto;
        font-weight: 100;
        font-size: 1.1rem;
        text-align: left;
    }
}
.findCards{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.cardF{
    height: 450px;
    width: 300px;
}
#firstImg{
    background: url(./pngs/oly.jpg);
    background-position: 50% 90%;
    background-size: cover;
    background-repeat:no-repeat;
    height: 200px;
    width: 300px;
  
}
#secondImg{
    background: url(./pngs/compact.jpg);
    background-position: 50% 90%;
    background-size: cover;
    background-repeat:no-repeat;
    height: 200px;
    width: 300px;
    
}
#thirdImg{
    background: url(./pngs/print.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat:no-repeat;
    height: 200px;
    width: 300px;
   
}
#firstImg:hover, #secondImg:hover, #thirdImg:hover{
    background-position:100% 100%;
    transition:all;
    transition-duration: 1s;
    transition-timing-function: ease;
}
.cardTxt{
    h1,h2{
        font-family: rubik;
        
    }
}
.cardTxt{
    h2{
        color: $txtorange;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 0.8rem;
        font-weight: bold;
    }
}
.cardTxt{
    h1{
        margin-bottom: 15px;
        font-size: 1.05rem;
    }
}
.cardTxt{
    p{
        font-family: roboto;
        color: rgba(255, 255, 255, 0.774);
    }
}
.card{
    transition: all 1s ease;
    height: 300px;
    perspective: 1000px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    flex-direction: column;
    flex: 0 0 30%;
    margin: 20px;
    transform-style: preserve-3d;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.096), -5px -5px 10px rgba(255, 255, 255, 0.096);
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.233),rgba(255, 255, 255, 0.014));
}

.card{
    span{
        color: $txtorange;
        font-family: roboto;
        font-size: 1.2rem;
        text-align: center;
        justify-self:flex-end;
        transform-style: preserve-3d;
        z-index: 3;
        transition: all 1s ease;
    }
}
.card{
    img{
        max-width: 70%;
        height: auto;
        margin: 0 auto;
        transform-style: preserve-3d;
        z-index: 2;
        transition: all 1s ease;
        
    }
}
.container.our{
    display: flex;
    width: 85%;
    margin: 150px auto;
    flex-direction: column;
    perspective: 1000px;
    opacity: 0;
    transition: all ease 500ms;
    
}
.container.our{
    h1{
        color: white;
        font-family: roboto;
        font-size: 2.5rem;
        text-align: center;
        margin: 50px auto;
    }
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    perspective: 900px;
}
.container.new{
    color: white;
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 20px auto;
    flex-direction: column;
    opacity: 0;
    transition: all ease 500ms;
}
.newCardContainer{
    display: flex;
    justify-content: center;
}
.newCard{
    height: 400px;
    width: 250px;
    margin: 40px;
    
}

.newCardImg{
    height: 200px;
    width: 250px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background: linear-gradient(rgba(255, 255, 255, 0.158) ,rgba(255, 255, 255, 0.021));
}
.newCardImg{
    img{
        max-width: 80%;
        z-index: 1;
    }
}
.newCardImg{
    p{
        font-family: rubik;
        font-size: 1.2rem;
        font-weight: bold;
    }
}
.newDescrip{
    h1{
        text-align: center;
        font-family: roboto;
        font-size: 2.5rem;
    }
}
.newCardBtn{
    color: white;
    background-color: $txtorange;
    text-align: center;
    height: 35px;
    padding: 20px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 50px;
    overflow: hidden;
    cursor: pointer;
    transition: all 600ms ease;
}
.newCardBtn:hover{
    background: rgba(255, 255, 255, 0.068);
    transform: scale(1.2);
}
.newCardTxt{
    h2{
        font-family: roboto;
        margin-bottom: 15px;
        color: $txtorange;
    }
}
.newDescrip{
    p{
        margin: 40px auto;
        width: 60%;
        font-family: rubik;
        font-size: 1.1rem;
        color: rgba(255, 255, 255, 0.623);
    }
}
.container.mailing{
    background: url(./pngs/jumbotron.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 1% 0%;
    height: 600px;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
    transition: ease all 4s;
    filter: brightness(0.6);
    margin-top: 100px;
}
.container.mailing:hover{
    background-position: 100% 100%;
    filter: brightness(1);
}
.container.mailing{
    h1{
        color: white;
        font-family: roboto;
        text-align: center;
        top: 50px;
        font-size: 2.5rem;
    }
}
.container.mailing{
    div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
input[type=text]{
    height: 50px;
    width: 300px;
    font-size: 1.2rem;
    background: rgba(255, 255, 255, 0.062);
    outline: none;
    border: 3px rgba(255, 255, 255, 0.068) solid;
}
input[type=text]:focus{
    outline: none;
    background: white;
}
input[type=submit]{
    height: 50px;
    background: $txtorange;
    color: white;
    font-family: roboto;
    width: 100px;
    border: none;
    font-family: 1.2rem;
   
}
form{
    margin-top: 50px;
}
.footer{
    color: white;
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
    height: 30vh;
    font-family: rubik;
}
.footer{
    div{
        h4{
            font-size: 0.8rem;
        }
    }
}
footer{
    padding-top: 50px;
}
.footer{
    div{
        flex: 0 0 25%;
    }
}
div{
    h4{
        margin: 10px;
    }
}
h3{
    color: $txtorange;
    font-family: rubik;
    font-weight: lighter;
    font-size: 1.5rem;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.363);
}
@media screen and (max-width:769px){
    .menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 90vh;
        justify-content: space-evenly;
        top: -1500px;
        width: 100%;
        z-index: 1;
        column-gap: 0;
        left:0;
        transition-property: all;
        transition-timing-function: ease-in-out;
        transition-duration: 600ms;
    }
    .menu{
        li{
            text-align: center;
        }
    }
    .menu.active{
        top:80px;
        background-color: $background;
        
    }
    .findDescrip{
        margin-top: 100px;
        margin-bottom: 0;
    }
    .findDescrip{
        p{
            width: 90%;
        }
    }
    nav{
       align-items: center;
    }
    .bar{
        height: 3px;
        width: 25px;
        margin: 5px;
        background-color: white;
        display: block;
    
    }
    .bars{display: block;}

    .container.landing{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 68vh;
        margin: 50px auto;
        margin-bottom: 0;
    }
    .container.find{
        margin-top:150px;
    }
    .landingImg{
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gradient{
        position: absolute;
        top: 10%;
        max-width: 55%;
    }
    
    .landingTxt{
        order: 2;
    }
    .findCards{
        transform: scale(0.7);
        justify-content: center;
        width: 85%;
        transition-property: all;
        transition-timing-function: ease;
        transition-duration: 500ms;
    }
    
    .cardF{
     margin:0 20px;
     transition-property: all;
     transition-timing-function: ease;
     transition-duration: 500ms;
    }
   
    .landingImg{
        img{
            height: auto;
            max-width: 80%;
           position: relative;
          
        }
    }
    .landTxt1{
        font-size: 1.8rem;
    }
    .landTxt2{
        font-size: 3.8rem;
    }
    .landDescrip{
        margin-top: 20px;
    }
    .landingBtn{
        margin-top: 40px;
    }
    .cardContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        perspective: 900px;
    }
    .card{
        max-width: 200px;
        height: 200px;
        flex: 0 0 40%;
    }
    .card{
        img{
            max-width: 50%;
        }
    }
    .newCard{
        margin: 20px;
    }
    .newCardContainer{
        transform: scale(0.8);
    }
    .container.mailing:hover{
        background-position: 50% 50%;
        filter: brightness(1);
    }
    
}

@media screen and (max-width:427px){
    .container.landing{
        margin-top: 80px;
        margin-bottom: 0;
    }
    .container.our{
        margin-top: 200px;
    }
    .landDescrip{
        font-size: 1rem;
    }
    .findCards{
        transform:scale(1);
        justify-content: flex-start;
    }
    .cardF{
        margin: 0;
    }
    .landingTxt{
        span{
            margin: 0 32px;
            font-size: 0.8rem;
            
        }
    }
    .landingImg{
       img {
         max-width: 100%;
        }
       
    }
    .gradient{
        max-width: 90%;
       
    
    }
    .far{
        color: $txtorange;
        position: relative;
        top: 50%;
        font-size: 2rem;
        
    }
    .findCards{
        position: relative;
        width: 300px;
        overflow: hidden;
    }
    .far.fa-arrow-alt-circle-left{
        display: inline;
        left: -2%;
    }
    .far.fa-arrow-alt-circle-right{
        
        left: 83%;
        display: inline;
        
    }
    .overflowing{
        height: 500px;
       
    }
    .card{
        max-width: 140px;
        height: 140px;
        flex: 0 0 40%;
        margin: 10px;
        border-radius: 30px;
    }
    .card{
        img{
            max-width: 50%;
        }
    }
    .card{
        span{
            font-size: 0.9rem;
        }
    }
    .newCardContainer{
        flex-direction: column;
        align-items: center;
        transform: scale(1);
    }
    .newCard{
        margin-bottom: 30px;
    }
    .newDescrip{
        p{
         
            width: 90%;
        
            font-size: 1.2rem;
            
        }
    }
    .container.mailing:hover{
        background-position: 30% 30%;
        filter: brightness(1);
    }
    .container.mailing{
        h1{
            font-size: 1.75rem;
        }
    }
    .container.mailing{
        height: 400px;
    }
    input[type=text]{
        height: 30px;
        width: 200px;
        font-size: 0.9rem;
    }
    input[type=submit]{
        height: 30px;
        cursor: pointer;
    }
    h4{
        
        font-size: 0.2rem;
        
    }
    .footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 70vh;
    }
    .footer{
        div{
            margin: 2px;
        }
    }
    .col{
        margin-bottom: -300px;
    }
}

@media screen and (max-width:376px){
    .landingTxt{
        span{
            margin: 0 25px;
            font-size: 0.7rem;
            
        }
    }
    .landingTxt{
        margin-top: 40px;
    }
    .far.fa-arrow-alt-circle-left{
   
        left: -8%;
    }
    .far.fa-arrow-alt-circle-right{
        
        left: 87%;
       
        
    }
    .findDescrip{
        p{
            font-size: 1rem;
        }
    }
    .container.our{
        h1{
            font-size: 1.9rem;
        }
    }
}
@media screen and (max-width:321px){
    .gradient{
        max-width: 90%;
        top: 13%;
    }
    .far.fa-arrow-alt-circle-left{
        display: inline;
        left: -4%;
        top: -2%;
    }
    .far.fa-arrow-alt-circle-right{
        
        left: 79%;
        display: inline;
        top: -2%;
        
    }
    .findCards{
       left: -13px;
    }
    .findDescrip{
        p{
            font-size: 0.9rem;
            width: 96%;
        }
    }
    .findDescrip{
        h1{
            font-size: 2.2rem;
        }
    }
    .container.find{
        margin-top: 100px;
    }
    .card{
        max-width: 120px;
        height: 120px;
        flex: 0 0 40%;
        margin: 10px;
        border-radius: 30px;
    }
}




@keyframes shine{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes spotlight{
    from{
        filter: brightness(0.3);
    }
    to{
        filter: brightness(1);
    }
}